.home__wrapper {
  height: 100%;
  &--male {
    background-image: linear-gradient(lighten($blue, 20%), lighten($blue, 40%));
  }
  &--female {
    background-image: linear-gradient(lighten($pink, 20%), lighten($pink, 40%));
  }
  .home__title {
    text-align: center;
    font-family: $titleFont;
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px 3px #000000;
    padding-top: 3rem;
  }
  .home__instruction {
    text-align: center;
    margin-top: 5rem;
    font-size: 1.8rem;
  }
}
