.toggle__wrapper {
  width: 40%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem auto 0 auto;
  cursor: pointer;
  @media only screen and (min-width: 600px) {
    height: 6rem;
  }
  @media only screen and (min-width: 1000px) {
    margin: 8rem auto 0 auto;
    height: 5rem;
    width: 15%;
  }
  .toggle__checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .toggle__inner {
    width: 60%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 150ms linear;
    cursor: pointer;
    @media only screen and (min-width: 600px) {
      border-radius: 30px;
    }
    @media only screen and (min-width: 1000px) {
      width: 40%;
    }
    .toggle__switch {
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: white;
      border-radius: 50%;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      @media only screen and (min-width: 600px) {
        width: 40px;
        height: 40px;
      }
      @media only screen and (min-width: 1000px) {
        width: 30px;
        height: 30px;
      }
    }
    &--male {
      background-color: $blue;
      .toggle__switch {
        left: 4px;
        @media only screen and (min-width: 600px) {
          left: 10px;
        }
        @media only screen and (min-width: 1000px) {
          left: 6px;
        }
      }
    }
    &--female {
      background-color: $pink;
      .toggle__switch {
        left: calc(100% - 4px);
        transform: translateX(-100%);
        @media only screen and (min-width: 600px) {
          left: calc(100% - 10px);
        }
        @media only screen and (min-width: 1000px) {
          left: calc(100% - 6px);
        }
      }
    }
  }
  .toggle__male {
    font-size: 2.5rem;
    color: $blue;
    flex-basis: 25%;
    @media only screen and (min-width: 600px) {
      font-size: 6rem;
    }
  }
  .toggle__female {
    flex-basis: 25%;
    font-size: 2.5rem;
    color: $pink;
    @media only screen and (min-width: 600px) {
      font-size: 6rem;
    }
  }
}
