@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

$titleFont: "Caveat Brush", cursive;
$secondaryFont: "Source Sans Pro", sans-serif;
$blue: rgb(84, 84, 216);
$pink: rgb(248, 82, 132);
$yellow: #ffe74c;
